<script type="text/ng-template" id="modalConfirm.html">
    <div class="modal-body">Are you sure?</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>