* { font-size: 14px; font-family: helvetica, arial, sans-serif; }
body { margin: 0; padding: 0; }
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 15px; }
header { padding: 20px 0; background: #eee; margin-bottom: 20px; }
main { margin-bottom: 20px; }
footer { border-top: 1px solid #ccc; margin: 40px 0; padding-top: 20px; text-align: right; }
.container { max-width: 700px; margin: 0 auto; width: 96%; padding: 0 2%; }
ul { padding-bottom: 1rem; }
ul.ng-scope{padding-left:0;padding-top:1rem;}
li { line-height: 2; list-style-type:none; }

/* forms */
form { width: 94%; padding: 3%; border: 1px solid #ddd; border-radius: 5px; }
form li { list-style-type: none; padding-bottom: 20px; }
form li .error { display: inline-block; color: red; }
form label { display: block; font-weight: bold; }
input[type="text"], input[type="email"], input[type="password"], textarea { border: 1px solid #ccc; border-radius: 3px; width: 96%; font-size: 14px; }
input[type="text"], input[type="email"], input[type="password"] { height: 30px; line-height: 30px; padding: 0 2%; }
textarea { width: 96%; padding: 2%; }
input[type="submit"] { background: #4288CE; color: #fff; height: 40px; line-height: 40px; border: none; border-radius: 3px; padding: 0 20px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
input[type="submit"]:hover { background: #333; }
form.destroy { display: inline-block; padding: 0; border: none; width: auto; }
form.destroy input[type="submit"] { margin-right: 10px; background: #999; display: inline-block; height: auto; padding: 0.2em; line-height: 1.2em; }
form.destroy input[type="submit"]:hover { background: red; }

/* modals */
.modal-header h3{
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
}

.logout{
    float:right;
}

.create-post{
    padding:4px;
    background:#428bca;
    color:#f2f2f2;
    border-radius:4px;
}
.create-post:hover{
    background: green;
    color:#f2f2f2;
    text-decoration:none;
}
.cs-options{
    border:1px solid #2980b9;
}
body .cs-skin-border > span{
    border: 1px solid #ccc;
    border-radius:3px;
}